.banner-image-fashion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets/images/napat-saeng-ZackGNxY2Bw-unsplash.jpg");
  background-size: cover;
  background-position-y: 38%;
}
